.inputWrap {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 7px;
  background-color: var(--bg-control-flat);
  border: 1px solid var(--on-border-control);
  border-radius: 6px;
  height: 32px;
  max-height: 32px;

  &:hover:not(:focus-within) {
    background-color: var(--bg-control-flat-medium);
  }

  &:focus-within {
    outline: none;
    border-color: var(--on-border-heavy);
  }

  &[data-invalid] {
    border-color: var(--on-support-capella) !important;
  }

  transition:
    background-color var(--color-change-transition-duration),
    border-color var(--color-change-transition-duration);
}

.input {
  color: var(--on-text-primary);
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 100%;

  &:focus {
    outline: none;
    border: none;
    background-color: transparent;
  }

  &::placeholder {
    color: var(--on-text-secondary);
  }
}

.leadingIcon {
  display: block;
  user-select: none;
  pointer-events: none;
  cursor: text;
  color: var(--on-icon-primary);
}

.slot {
  margin-top: -7px;
  margin-bottom: -7px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton {
  /* Compensate for the padding of the inputWrap */
  margin-top: -4px;
  margin-bottom: -4px;
  margin-right: -4px;
  user-select: none;
}
