.overview {
  padding: 0 24px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.overview-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(50% - 12px)), 1fr));
}

.overview-grid-item {
  padding: 4px;
  width: 100%;
}