.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &[data-border] {
    border: 1px solid var(--color-border-subtle);
  }

  &[data-size="s"] {
    padding: 32px;
  }

  &[data-size="m"] {
    padding: 72px 32px;
  }

  &[data-size="xs"] {
    padding: 8px;
  }

  &[data-full-height] {
    height: 100%;
  }
}

.title {
  color: var(--color-text-primary);
  text-align: center;
}

.description {
  color: var(--color-text-secondary);
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 400px;
}

.emptyIcon {
  width: 24px;
  height: 24px;

  &[data-size="s"] {
    width: 16px;
    height: 16px;
  }

  &[data-size="m"] {
    width: 24px;
    height: 24px;
  }

  &[data-size="l"] {
    width: 32px;
    height: 32px;
  }

  color: var(--color-icon-secondary);

  &[data-color="purple"] {
    color: var(--color-status-unknown-text);
  }

  &[data-color="blue"] {
    color: var(--color-intent-primary-text);
  }

  &[data-color="green"] {
    color: var(--color-intent-success-text);
  }

  &[data-color="orange"] {
    color: var(--color-intent-warning-text);
  }

  &[data-color="violet"] {
    color: var(--color-decorative-1-text);
  }

  &[data-color="sky"] {
    color: var(--color-intent-info-text);
  }

  &[data-color="magenta"] {
    color: var(--color-decorative-2-text);
  }

  &[data-color="rose"] {
    color: var(--color-decorative-3-text);
  }

  &[data-color="red"] {
    color: var(--color-intent-danger-text);
  }

  &[data-color="amber"] {
    color: var(--color-decorative-4-text);
  }

  &[data-color="teal"] {
    color: var(--color-decorative-5-text);
  }

  &[data-color="slate"] {
    color: var(--color-status-skipped-text);
  }
}
