.centeredMetricTitle {
  font-weight: var(--font-weight-bold);
  fill: var(--on-text-primary);
}

.centeredMetricDescription {
  font-weight: var(--font-weight-normal);
  fill: var(--on-text-secondary);
}
