.test-result-status {
  align-items: center;
  gap: 2px;
  padding: 2px 6px 2px 4px;
  display: inline-flex;
  border-radius: 100px;
  height: max-content;
}

.test-result-status-text {
  padding: 0;
}

.test-result-status-icon {
  --tree-item-icon-padding: 0;
}

.test-result-status .test-result-status-icon {
  color: currentColor;
}

.status-passed {
  background-color: var(--color-status-passed-bg);
  color: var(--color-status-passed-on-bg);
}

.status-failed {
  background-color: var(--color-status-failed-bg);
  color: var(--color-status-failed-on-bg);
}

.status-broken {
  background-color: var(--color-status-broken-bg);
  color: var(--color-status-broken-on-bg);
}

.status-skipped {
  background-color: var(--color-status-skipped-bg);
  color: var(--color-status-skipped-on-bg);
}

.status-unknown {
  background-color: var(--color-status-unknown-bg);
  color: var(--color-status-unknown-on-bg);
}
