.test-result-description {
  padding: 0 24px;
}

.test-result-description-wrapper {
  border: var(--section-frame, 0 none);
  border-radius: var(--section-radius, 0);
  padding-inline: var(--section-padding-inline, 0);
  padding-block: var(--section-padding-block, 16px);
  border-bottom: 1px solid var(--color-border-default);
}

.test-result-description-text {
  padding-top: 10px;

  iframe {
    display: block;
  }
}
