@use "../../assets/scss/mixins";

.counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: var(--space-2);
  min-height: var(--space-2);
  background-color: var(--color-control-bg);
  color: var(--color-text-primary);
  border-radius: var(--radius-pill);
  line-height: var(--line-height-s);
  @include mixins.status-bg-and-text();

  &.size-s {
    padding-left: var(--space-0-75);
    padding-right: var(--space-0-75);
  }

  &.size-m {
    padding: 10px 2px;
  }

  &.size-l {
    padding: 12px 4px;
  }
}
