.categories-tree-view {
  display: block;
  min-height: 720px;
  padding-bottom: 48px;
  padding-top: 16px;
}

.tree-content {
  padding-left: 24px;
}

.tree-item-message {
  padding: 0;
}

.tree-item-category {
  font-size: 24px;
  margin-bottom: 16px;
}

.tree-item {
  border-top: 1px solid var(--on-border-muted);
  padding-left: 24px;

  &:last-child {
    margin-bottom: 16px;
  }
}
