.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  border-radius: 3px;
  color: var(--color-tag-default-text);
  background-color: var(--color-tag-default-bg);

  &.neutral {
    color: var(--color-intent-info-on-bg);
    background-color: var(--color-intent-info-bg);
  }

  &.secondary {
    background-color: var(--color-tag-secondary-bg);
    color: var(--color-tag-secondary-text);
  }

  &.successful {
    color: var(--color-intent-success-on-bg);
    background-color: var(--color-intent-success-bg);
  }

  &.failed {
    color: var(--color-intent-danger-on-bg);
    background-color: var(--color-intent-danger-bg);
  }

  &.warning {
    color: var(--color-intent-warning-on-bg);
    background-color: var(--color-intent-warning-bg);
  }

  &.neutral-light {
    color: var(--color-intent-info-text);
    background-color: transparent;
    border: 1px dashed var(--color-intent-info-border);
  }

  &.successful-light {
    color: var(--color-intent-success-text);
    background-color: transparent;
    border: 1px dashed var(--color-intent-success-border);
  }

  &.failed-light {
    color: var(--color-intent-danger-text);
    background-color: transparent;
    border: 1px dashed var(--color-intent-danger-border);
  }

  &.warning-light {
    color: var(--color-intent-warning-text);
    background-color: transparent;
    border: 1px dashed var(--color-intent-warning-border);
  }
}
